<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/about">ABOUT US</a></li>
        <li id="contact"><a href="/contact">CONTACT US</a></li>
      </ul>
    </div>
  </nav>

  <div class="weather-api">
    <img class="logo" src="images/OpenWeather-Logo.jpg" alt="open-weather-logo">
    <form class="form-inline" action="/input" method="post">
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" name="cityName" class="form-control" id="cityInput" placeholder="City Name" required>
      </div>
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    <spam class="city-name"><%= weatherData.city %></spam>
    <spam class="description">Descricao: <%= weatherData.dscpt %></spam>
    <spam class="temp">Temperatura em <%= weatherData.city %>: <%= weatherData.temp %> ºC</spam>
    <img class="icon" src="http://openweathermap.org/img/wn/<%= weatherData.icon %>@2x.png">
    <!-- <div id="openweathermap-widget-19"></div> -->
  </div>

  <!-- <script>
    window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
    window.myWidgetParam.push({
      id: 19,
      cityid: '2643743',
      appid: 'a03ba9067e1dec20b30ea9428c692cca',
      units: 'metric',
      containerid: 'openweathermap-widget-19',
    });
    (function() {
      var script = document.createElement('script');
      script.async = true;
      script.charset = "utf-8";
      script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(script, s);
    })();
  </script> -->
<body>
  <div class="page-container">
    <div class="content-wrap">
